body {
	margin: 0;
}

.navbar {
	top: 0;
}

ul {
	list-style-type: none;
}
.navbar > ul > li {
	float: right;
	padding-right: 10px;
}

li {
	display: inline-block;
}
#logo {
	text-align: center;
	padding-top: 100px;
}

form {
	text-align: center;
}

#search {
	margin-bottom: 20px;
	width: 500px;
	height: 30px;
}

.footer {
	bottom: 0px;
	position: fixed;	
	width: 100%;
	background-color: #D3D3D3;

}


#footer_left {
	float: left;
}

#footer_right {
	float: right;
}

#footer_left li {
	padding-left: 10px;
}

#footer_right li {
	padding-right: 20px;
}