.navbar {
	top: 0;
}

ul {
	list-style-type: none;
}
.navbar ul li {
	float: right;
}

.footer {
	clear: both;
	bottom: 0;
	color: #D3D3D3;
}

#footer_left {
	float: left;
}

#footer_right {
	float: right;
}